ENV
effcalculator/node_modules
/.idea/*
*.pyc
db.sqlite3
/effcalculator/frontend/assets/bundles/
 *webpack-stats.json
effcalculator/webpack-stats.json
/node_modules/
effcalculator/npm-debug.log
/coverage
.storybook
stories
/**/*.DS_Store