ENV
effcalculator/node_modules
/.idea/*
*.pyc
db.sqlite3
/effcalculator/frontend/assets/bundles/
/effcalculator/dg_efficiencyCalculator
 *webpack-stats.json
effcalculator/webpack-stats.json
/effcalculator/node_modules/
effcalculator/npm-debug.log
